# linux
*~
*.bak
*.old
*.log
*.tmp
*.swp

# Python
*.pyc
*.pkl

# C/C++
*.o
*.obj
*.so
*.a
*.exe

# MATLAB
*.asv
*.mat

# java
*.class

# OSX
.DS_Store

# multimedia
*.pcm
*.mid
*.wav
*.mp3
*.wma
*.mp4
*.m4a
*.bmp
*.jpg
*.png
*.gif
*.tif
*.svg
*.swf
*.avi
*.mpg
*.mov
*.m4v
*.flv
*.rmvb
*.wmv
